@media only screen and (min-width: 1025px) {
	.ds {
		width: 1024px;
	}
}

@font-face {
	font-family: "woodstamp";
	src: url(./font/Woodstamp.otf) format("truetype");
}

body {
	font-family: woodstamp;
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-image: url(../img/background.jpg);
}

INPUT {
	font-family: calibri;
	font-size: 16px;
}

.ds {
	padding: 5px;
	margin: 1em auto;
	overflow: hidden;
}

.headline {
	font-size: 2em;
}

.ds .menu {
	height: 30px;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	padding-bottom: 10px;
	width: 100%;
}

.ds #menuToggle Input, .ds #menuToggle span {
	display: none;
}

.ds #menuToggle #menu span.m_charname {
	display: inline;
}
.ds #menuToggle DIV.m_charname {
	display: none;
}

.ds .menu>DIV {
	float: left;
	margin-left: 10px;
	cursor: pointer;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	overflow: hidden;
	border: 1px solid black;
}

.ds .menu>SPAN {
	font-size: 2em;
	display: block;
	padding-left: 1em;
	float: right;
}

#overlay {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 90vh;
}

.inventory {
	float: left;
}

.inputtofind {
	margin-bottom: 10px;
}

.hidden {
	display: none !important;
}

#overlay>DIV {
	width: 100%;
}

DIV.metawerte {
	display: none;
}

#werte .focus {
	color: red;
}

DIV#grundwerte {
	width: 100%;
	text-align: center;
}

DIV#attribute {
	width: 100%;
	text-align: center;
}

DIV#attribute .inputtofind {
	width: 4em;
	height: 5em;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
}

DIV#attribute .inputtofind  INPUT {
	width: 50px;
	height: 40px;
	text-align: center;
	border: 0;
	margin: 0;
	font-size: 30px;
	font-family: woodstamp;
	background: transparent;
	margin-bottom: 6px;
}

DIV#grundwerte .hauptwerte, DIV#grundwerte .attributswerte {
	display: inline-block;
}

DIV#grundwerte .hauptwerte>DIV {
	float: left;
	width: 180px;
	font-size: 50px;
	vertical-align: middle;
	padding-right: 20px;
	text-align: center;
}

DIV#grundwerte .attributswerte>DIV {
	float: left;
	width: 180px;
	font-size: 30px;
	vertical-align: middle;
	padding-right: 20px;
	text-align: center;
}

DIV#grundwerte  INPUT {
	width: 60px;
	height: 40px;
	text-align: center;
	border: 0;
	margin: 0;
	font-size: 40px;
	font-family: woodstamp;
	border: 4px solid black;
	float: right;
	background: transparent;
}

DIV#grundwerte .attributswerte {
	width: 640px;
}

DIV#grundwerte .attributswerte INPUT {
	width: 66px;
	height: 40px;
	text-align: center;
	border: 0;
	margin: 0;
	font-size: 40px;
	font-family: woodstamp;
	border: 1px solid black;
	float: right;
	background: transparent;
}

DIV#attribute .inputtofind  SPAN {
	display: inline-block;
	font-size: 8px;
	font-family: Georgia;
}

DIV#attribute>DIV {
	background-size: 3em;
	background-repeat: no-repeat;
	background-position: 0.5em 0;
}

DIV#attribute #ds_i_lebenskraft {
	background-image: url(../img/lebenskraft.png);
	position: relative;
	top: -1em;
}

DIV#attribute #ds_i_lebenskraft INPUT, DIV#attribute #ds_i_mana INPUT {
	display: none;
}

DIV#attribute #ds_i_lebenskraft SELECT, DIV#attribute #ds_i_mana SELECT
	{
	width: 100%;
	text-align: center;
	text-align-last: center;
	border: 0;
	margin: 0;
	font-size: 2em;
	font-family: woodstamp;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	padding-right: 0.1em;
}

.wrapper {
	float: right;
	position: relative;
	top: 3em;
	font-family: woodstamp !important;
	font-size: 1em !important;
}

DIV#attribute #ds_i_lebenskraft SELECT {
	color: red;
	position: relative;
	top: -1em;
}

DIV#attribute #ds_i_mana SELECT {
	color: blue;
	position: relative;
	top: -1em;
}

DIV#attribute #ds_i_abwehr {
	background-image: url(../img/abwehr.png);
}

DIV#attribute #ds_i_initiative {
	background-image: url(../img/initiative.png);
}

DIV#attribute #ds_i_laufen {
	background-image: url(../img/laufen.png);
}

DIV#attribute #ds_i_schlagen {
	background-image: url(../img/schlagen.png);
}

DIV#attribute #ds_i_schiessen {
	background-image: url(../img/schiessen.png);
}

DIV#attribute #ds_i_zaubern {
	background-image: url(../img/zaubern.png);
}

DIV#attribute #ds_i_zielzauber {
	background-image: url(../img/zielzauber.png);
}

DIV#attribute #ds_i_mana {
	background-image: url(../img/mana.png);
	position: relative;
	top: -1em;
}

#ds_i_volk INPUT {
	display: none;
}

#ds_i_volk SELECT {
	width: 100%;
	border: 0px none;
	background: transparent;
}

DIV#waffen {
	float: left;
}

DIV#probs TBODY {
	font-family: Calibri;
}

DIV#probs TBODY .outline, .stufe {
	font-family: Woodstamp;
	font-size: 30px;
	text-align: center;
}

DIV#probs, DIV#probs TABLE {
	width: 100%;
}

.outline, .stufe {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px
		0 #000;
}

TABLE {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

TD {
	border: 1px solid black;
}

THEAD {
	background-color: #AAA;
}

TBODY {
	background-color: #FAFAFA;
}

TBODY input {
	width: 100%;
	background: transparent;
	border: 0;
	margin: 0;
}

#file TABLE {
	margin-top: 2em;
}

#file TABLE, #file TABLE TBODY, #file TABLE TR, #file TABLE TD {
	border: none;
	background: none;
	background-color: transparent;
}

#file TABLE TD.big {
	width: 33.3%;
}

#file TABLE TD.small {
	width: 11.1%;
}

#ds_banner img {
	width: 100%;
}

#file #ds_i_save, #file #ds_i_load, #file #ds_i_new, .button {
	margin: .2em;
	border: 1px solid black;
	background-color: #AAA;
	text-align: center;
	cursor: pointer;
	font-size: 2em;
}

#file DIV {
	margin: .3em;
	padding: 0px 2px;
	background-color: #FAFAFA;
	border: 1px solid black;
	font-size: 1.5em;
}

#file .small SPAN, #ds_i_exp SPAN {
	width: 100%;
	text-align: center;
	display: block;
}

#file .small INPUT, #ds_i_exp INPUT {
	width: 100%;
	text-align: center;
}

.file .file_cell, .file .file_cell#ds_stufe DIV {
	float: left;
	width: 31%;
	margin: .3em;
	padding: 0px 2px;
	background-color: #FAFAFA;
	border: 1px solid black;
	font-size: 1.5em;
}

.file .file_cell#ds_stufe DIV {
	font-size: 1em;
	width: 30%;
	text-align: center;
	margin: 0px 2% 0px 0px;
	padding: 0px 0px 0px 1%;
}
.file .file_cell#ds_stufe INPUT {
	text-align: center;
}
.file .file_cell#ds_stufe DIV#ds_i_tp {
	margin-right:0
}

.file .file_cell#ds_banner,
.file .file_cell#ds_stufe {
	background: none;
	border:none;
}

.file .file_cell#ds_i_player,
.file .file_cell#ds_i_name {
	margin-top: 1em;
	margin-bottom:1em;
}

.file .file_cell INPUT {
	width: 98%;
	border: none;
	background: none;
}

.file #ds_i_steckbrief {
		width: 97%;
}

.file #ds_i_steckbrief #steckbrief{
	font-size: 0.7em;
			border: none;
}

.file #ds_i_steckbrief TD{
	border: none;
}

.print  .ds {
	overflow: unset !important;
}

.print #overlay {
	overflow-y: unset;
	overflow-x: unset;
	max-height: unset !important;
	display: block !important;
}

.print #overlay>.hidden {
	display: block !important;
}

.print input.newrow {
	display: none !important;
}

.print .t_calc {
	display: none !important;
}

.print DIV.del {
	visibility: hidden;
}

.print #overlay #chars {
	display: none !important;
}

.print #overlay #settings {
	display: none !important;
}

body.print {
	background: white;
}

#ds_i_steckbrief TABLE {
	margin: 0;
	font-size: 0.8em;
}

#ds_i_steckbrief TABLE#steckbrief SPAN {
	width: auto;
}

#chars TD {
	font-size: 2em;
}

#chars TD INPUT {
	width: 6em;
	font-size: 0.5em;
	border: 1px solid;
	margin: 2px;
	background: white;
}

#chars TBODY, #chars TABLE, #chars TD {
	border: 0;
	background: transparent;
}

#begleiter TABLE THEAD TD {
	text-align: center;
}

#begleiter TABLE .text {
	width: 25%;
	text-align: left;
}

#begleiter TABLE IMG {
	width: 20px;
	height: 20px;
}

#diary TD INPUT {
	font-family: woodstamp;
	border: 0;
	background: transparent;
	font-size: 1.5em;
}

#diary TD TEXTAREA {
	font-family: Arial;
	border: 0;
	background: transparent;
	width: 100%;
	min-height: 50px;
	font-size: 0.8em;
	resize: none;
}

DIV.del {
	font-size: 22px;
	height: 25px;
	width: 25px;
	text-align: center;
	background-color: #aaa;
	color: red;
	cursor: pointer;
}

INPUT.newrow, INPUT.nr_chars {
	width: 6em;
	font-size: 1em;
	border: 1px solid;
	margin-top: 0.5em;
	background: white;
	cursor: pointer;
}

INPUT.nr_chars {
	width: 9em;
}