
@font-face {
	font-family: "woodstamp";
	src: url(./font/Woodstamp.otf) format("truetype");
}

body {
	font-family: woodstamp;
	font-size: 16px;
	padding: 0;
	margin: 0;
	background: white;
}


/* Burger Menu --> Start */
#menuToggle
{
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle > span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span.burger:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span.burger:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span.burger
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span.burger:nth-last-child(4)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span.burger:nth-last-child(3)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu DIV
{
  padding: 5px 35px;
  font-size: 20px;
  cursor:pointer;
}

#menu DIV:hover {
	color: grey;
}

#menuToggle input:checked ~ #menu
{
  transform: none;
}

#menu > DIV {
	background-size: 30px 30px;
	background-repeat: no-repeat;
	overflow: hidden;
}

#menuToggle DIV.m_charname {
	position: absolute;
	font-size: 25px;
	display: inline-block;
	white-space: nowrap;
	top: 0px;
	width: 100%;
	text-align: right;
	left: -15px;
	background: none;
}

#menuToggle #menu span.m_charname {
	display: none;
}
/* <-- Burger Menu Ende*/

.hidden {
	display: none !important;
}

#overlay {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	vertical-align: top;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 90vh;
}

#overlay span.headline {
	width: 100%;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}

.inventory TABLE,.inventory THEAD,.inventory TBODY,.inventory TR,.inventory TD {
	display: inline;
}

INPUT.newrow, INPUT.nr_chars, #chars TABLE INPUT {
	width: 100%;
	border: 1px solid black;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
	background: lightgrey;
}

#chars TABLE TD {
	font-size: 25px;
}

.file {
	display: flex;
	flex-direction: column;
}

.file .file_cell {
	width: 100%;
	order: 1000;
	position: relative;
	margin: 5px;
}

.file .file_cell INPUT,
.file .file_cell SELECT {
	width: 70%;
    padding-left: 25%;
    background: none;
    border: 1px solid lightgrey;
    font-family: calibri;
	font-size: 16px;
}

.file .file_cell SPAN {
	position: absolute;
	top: 4px;
	left: 5px;
	color: black;
}


.file #ds_banner {
	order: 1;
	margin-top: 1em;
	margin-bottom: 1.5em;
	margin-left: 0;
}

.file #ds_banner IMG {
	width: 90%;
	margin-left: 5%;
}

.file #ds_i_player {
	order: 2;
}
.file #ds_i_name {
	order: 3;
}
.file #ds_i_volk {
	order: 4;
}
.file #ds_i_volksfahigkeiten {
	order: 5;
}
.file #ds_i_klasse {
	order: 6;
}
.file #ds_i_heldenklasse {
	order: 7;
}

.file #ds_stufe {
	order: 8;
}
.file #ds_i_exp {
	order: 9;
}


.file #ds_i_stufe,
.file #ds_i_lp,
.file #ds_i_tp {
	width: 32%;
	position: relative;
	float: left;
}

.file #ds_i_stufe INPUT,
.file #ds_i_lp INPUT,
.file #ds_i_tp INPUT {
	width: 61%;
	padding-left: 34%;
}

.file #ds_i_volk INPUT {
	display: none;
}

.file .file_cell SELECT {
	width: 95%;
}

.file #ds_i_steckbrief {
	color: black;
	border: 1px solid lightgrey;
	padding: 1%;
	width: 93%;
}

.file #ds_i_steckbrief TD {
	position: relative;
}

.file #ds_i_steckbrief INPUT {
	padding-left: 40%;
	width: 60%;
}

.file #ds_i_steckbrief INPUT#ds_i_steckbrief_besonderes,
.file #ds_i_steckbrief INPUT#ds_i_steckbrief_sprachen,
.file #ds_i_steckbrief INPUT#ds_i_steckbrief_schriftzeichen {
	padding-left: 22%;
	width: 78%;
}


#waffen THEAD TR,
#defense THEAD TR,
#spells THEAD TR,
#talents THEAD TR,
#inventar THEAD TR,
#diary THEAD TR,
#begleiter THEAD TR  {
	display: none;
}

#waffen TBODY TR,
#defense TBODY TR,
#spells TBODY TR,
#talents TBODY TR,
#inventar TBODY TR,
#diary TBODY TR,
#begleiter TBODY TR {
	display: block;
	border: 1px solid black;
	margin: 5px;
	margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

#begleiter TBODY TR {
	display: inline-block;
}

#inventar TBODY TD,
#diary TBODY TD {
	position: relative;
}

#waffen TBODY TR TD:nth-last-child(6),
#defense TBODY TR TD:nth-last-child(4),
#spells TBODY TR TD:nth-last-child(6),
#talents TBODY TR TD:nth-last-child(5),
#talents TBODY TR TD:nth-last-child(3),
#begleiter TBODY TR TD:nth-child(1),
#begleiter TBODY TR TD:nth-child(2) {
	display: block;
	position: relative;
}

#talents TBODY TR TD:nth-last-child(5) {
	width: 70%;
}
#talents TBODY TR TD:nth-last-child(3) {
	width: 26%;
	position: absolute;
	top: 5px;
	left: 68%;
}

#waffen TBODY TR TD:nth-last-child(6)::before,
#defense TBODY TR TD:nth-last-child(4)::before,
#spells TBODY TR TD:nth-last-child(6)::before,
#talents TBODY TR TD:nth-last-child(5)::before,
#talents TBODY TR TD:nth-last-child(3)::before,
#begleiter TBODY TR TD:nth-child(1)::before,
#begleiter TBODY TR TD:nth-child(2)::before {
	content: 'Name:';
	position: absolute;
	top: 4px;
	left: 5px;
	color: black;
}

#talents TBODY TR TD:nth-last-child(3)::before {
	content: 'Stufe:';
}

#begleiter TBODY TR TD:nth-child(2)::before {
	content: 'Art:'
}

#inventar TBODY TR TD:nth-last-child(2),
#inventar TBODY TR TD:nth-last-child(3),
#inventar TBODY TR TD:nth-last-child(4) {
	display: inline-block;
	position: relative;
	width: 100%;
    margin-left: 1px;
}

#waffen TBODY TR TD:nth-last-child(6) INPUT,
#defense TBODY TR TD:nth-last-child(4) INPUT,
#spells TBODY TR TD:nth-last-child(6) INPUT,
#talents TBODY TR TD:nth-last-child(5) INPUT,
#talents TBODY TR TD:nth-last-child(3) INPUT,
#inventar TBODY TR TD:nth-last-child(2) INPUT,
#inventar TBODY TR TD:nth-last-child(3) INPUT,
#inventar TBODY TR TD:nth-last-child(4) INPUT,
#begleiter TBODY TR TD:nth-child(1) INPUT,
#begleiter TBODY TR TD:nth-child(2) INPUT {
	width: 80%;
    padding-left: 15%;
    background: none;
    border: 1px solid lightgrey;
    font-family: calibri;
	font-size: 16px;
}
#inventar TBODY TR TD:nth-last-child(2) INPUT,
#inventar TBODY TR TD:nth-last-child(3) INPUT,
#inventar TBODY TR TD:nth-last-child(4) INPUT {
	width: 75%;
    padding-left: 20%;
}

#talents TBODY TR TD:nth-last-child(3) INPUT {
	padding-left: 50%;
	width: 46%;
}

#waffen TBODY TR TD:nth-last-child(5),
#spells TBODY TR TD:nth-last-child(5) {
	display: inline-block;
	position: relative;
	width: 47%;
    border: 1px solid lightgray;
    margin-left: 1px;
}

#waffen TBODY TR TD:nth-last-child(5)::before,
#spells TBODY TR TD:nth-last-child(5)::before {
	content: 'Nah:';
	color: black;
	float: left;
	margin-right: 1em;
	margin-left: 2px;
	margin-top: 2px;
}

#waffen TBODY TR TD:nth-last-child(5) label,
#spells TBODY TR TD:nth-last-child(5) label {
	float: left;
}

#waffen TBODY TR TD:nth-last-child(5) label .checkmark,
#spells TBODY TR TD:nth-last-child(5) label .checkmark {
 	width: 100px;
}

#waffen TBODY TR TD:nth-last-child(5) label .checkmark::after,
#spells TBODY TR TD:nth-last-child(5) label .checkmark::after {
	left: 44px;
}

#waffen TBODY TR TD:nth-last-child(4),
#spells TBODY TR TD:nth-last-child(4) {
	display: inline-block;
	position: relative;
	width: 46%;
    border: 1px solid lightgray;
    margin-left: 1px;
}

#waffen TBODY TR TD:nth-last-child(4)::before,
#spells TBODY TR TD:nth-last-child(4)::before {
	content: 'Fern:';
	color: black;
	float: left;
	margin-right: 1em;
	margin-left: 2px;
	margin-top: 2px;
}

#waffen TBODY TR TD:nth-last-child(4) label,
#spells TBODY TR TD:nth-last-child(4) label  {
	float: left;
}

#waffen TBODY TR TD:nth-last-child(4) label .checkmark,
#spells TBODY TR TD:nth-last-child(4) label .checkmark {
 	width: 100px;
}

#waffen TBODY TR TD:nth-last-child(4) label .checkmark::after,
#spells TBODY TR TD:nth-last-child(4) label .checkmark::after {
	left: 44px;
}

#waffen TBODY TR TD:nth-last-child(3),
#defense TBODY TR TD:nth-last-child(3),
#spells TBODY TR TD:nth-last-child(3),
#talents TBODY TR TD:nth-last-child(4) {
	display: block;
	position: relative;
}
#waffen TBODY TR TD:nth-last-child(3)::before,
#defense TBODY TR TD:nth-last-child(3)::before,
#spells TBODY TR TD:nth-last-child(3)::before,
#talents TBODY TR TD:nth-last-child(4)::before,
#inventar TBODY TR TD:nth-last-child(2)::before,
#inventar TBODY TR TD:nth-last-child(3)::before,
#inventar TBODY TR TD:nth-last-child(4)::before,
#diary TBODY TR TD:nth-last-child(2)::before {
	content: 'Effekt:';
	position: absolute;
	top: 4px;
	left: 5px;
	color: black;
}
#inventar TBODY TR TD:nth-last-child(2)::before {
	content: "Besonderheit:"
}

#inventar TBODY TR TD:nth-last-child(3)::before {
	content: "Wo gelagert?"
}
#inventar TBODY TR TD:nth-last-child(4)::before {
	content: "Ausrüstung:"
}

#diary TBODY TR TD:nth-last-child(2)::before {
	content: "Titel:"
}

#waffen TBODY TR TD:nth-last-child(3) INPUT,
#defense TBODY TR TD:nth-last-child(3) INPUT,
#spells TBODY TR TD:nth-last-child(3) INPUT,
#talents TBODY TR TD:nth-last-child(4) INPUT,
#diary TBODY TR TD:nth-last-child(2) INPUT,
#diary TBODY TR TD:nth-last-child(2) TEXTAREA {
	width: 80%;
    padding-left: 15%;
    background: none;
    border: 1px solid lightgrey;
    font-family: calibri;
	font-size: 16px;
}

#diary TBODY TR TD:nth-last-child(2) TEXTAREA {
	width: 95%;
	padding-left: 0;
	min-height: 5em;
	resize:vertical;
}

#waffen TBODY TR TD:nth-last-child(2),
#defense TBODY TR TD:nth-last-child(2),
#spells TBODY TR TD:nth-last-child(2),
#talents TBODY TR TD:nth-last-child(2) {
	display: inline-block;
	position: relative;
	width: 94%;
    border: 1px solid lightgray;
    margin-left: 1px;
}

#waffen TBODY TR TD:nth-last-child(2)::before,
#defense TBODY TR TD:nth-last-child(2)::before,
#spells TBODY TR TD:nth-last-child(2)::before,
#talents TBODY TR TD:nth-last-child(2)::before {
	content: 'Ausgerüsstet:';
	color: black;
	float: left;
	margin-right: 1em;
	margin-left: 2px;
	margin-top: 2px;
}

#waffen TBODY TR TD:nth-last-child(2) label,
#defense TBODY TR TD:nth-last-child(2) label,
#spells TBODY TR TD:nth-last-child(2) label,
#talents TBODY TR TD:nth-last-child(2) label {
	float: left;
	width: 65%;
}

#waffen TBODY TR TD:nth-last-child(2) label .checkmark,
#defense TBODY TR TD:nth-last-child(2) label .checkmark,
#spells TBODY TR TD:nth-last-child(2) label .checkmark,
#talents TBODY TR TD:nth-last-child(2) label .checkmark {
 	width: 100%;
}

#waffen TBODY TR TD:nth-last-child(2) label .checkmark::after,
#defense TBODY TR TD:nth-last-child(2) label .checkmark::after,
#spells TBODY TR TD:nth-last-child(2) label .checkmark::after,
#talents TBODY TR TD:nth-last-child(2) label .checkmark::after {
	left: 46%;
}

#waffen TBODY TR TD:nth-last-child(1),
#defense TBODY TR TD:nth-last-child(1),
#spells TBODY TR TD:nth-last-child(1),
#talents TBODY TR TD:nth-last-child(1),
#inventar TBODY TR TD:nth-last-child(1),
#diary TBODY TR TD:nth-last-child(1),
#begleiter TBODY TR TD:nth-last-child(1) {
	display: block;
	position: absolute;
	border: 1px solid lightgray;
	top: 6px;
	right: 2px;
	width: 10px;
	text-align: center;
	height: 20px;
	color: red;
	cursor: pointer;
}

#begleiter TBODY TR TD:nth-child(3),
#begleiter TBODY TR TD:nth-child(4),
#begleiter TBODY TR TD:nth-child(5),
#begleiter TBODY TR TD:nth-child(6),
#begleiter TBODY TR TD:nth-child(7),
#begleiter TBODY TR TD:nth-child(8),
#begleiter TBODY TR TD:nth-child(9),
#begleiter TBODY TR TD:nth-child(10),
#begleiter TBODY TR TD:nth-child(11){
	width: 31%;
	display: block;
	float: left;
	position: relative;
}

#begleiter TBODY TR TD:nth-child(12),
#begleiter TBODY TR TD:nth-child(13),
#begleiter TBODY TR TD:nth-child(14),
#begleiter TBODY TR TD:nth-child(15),
#begleiter TBODY TR TD:nth-child(16),
#begleiter TBODY TR TD:nth-child(17),
#begleiter TBODY TR TD:nth-child(18),
#begleiter TBODY TR TD:nth-child(19){
	width: 10%;
	display: block;
	float: left;
	padding-left: 1%;
}


#begleiter TBODY TR TD:nth-child(3)::before,
#begleiter TBODY TR TD:nth-child(4)::before,
#begleiter TBODY TR TD:nth-child(5)::before,
#begleiter TBODY TR TD:nth-child(6)::before,
#begleiter TBODY TR TD:nth-child(7)::before,
#begleiter TBODY TR TD:nth-child(8)::before,
#begleiter TBODY TR TD:nth-child(9)::before,
#begleiter TBODY TR TD:nth-child(10)::before,
#begleiter TBODY TR TD:nth-child(11)::before {
	position: absolute;
	top: 4px;
	left: 5px;
	color: black;
}

#begleiter TBODY TR TD:nth-child(3)::before {
	content: 'Kör:';
}
#begleiter TBODY TR TD:nth-child(4)::before {
	content: 'Agi:';
}
#begleiter TBODY TR TD:nth-child(5)::before {
	content: 'Gei:';
}
#begleiter TBODY TR TD:nth-child(6)::before {
	content: 'St:';
}
#begleiter TBODY TR TD:nth-child(7)::before {
	content: 'Hä:';
}
#begleiter TBODY TR TD:nth-child(8)::before {
	content: 'Be:';
}
#begleiter TBODY TR TD:nth-child(9)::before {
	content: 'Ge:';
}
#begleiter TBODY TR TD:nth-child(10)::before {
	content: 'Ve:';
}
#begleiter TBODY TR TD:nth-child(11)::before {
	content: 'Au:';
}

#begleiter TBODY TR TD:nth-child(12) INPUT,
#begleiter TBODY TR TD:nth-child(13) INPUT,
#begleiter TBODY TR TD:nth-child(14) INPUT,
#begleiter TBODY TR TD:nth-child(15) INPUT,
#begleiter TBODY TR TD:nth-child(16) INPUT,
#begleiter TBODY TR TD:nth-child(17) INPUT,
#begleiter TBODY TR TD:nth-child(18) INPUT,
#begleiter TBODY TR TD:nth-child(19) INPUT{
	border: none;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	padding: 0;
	width: 100%;
	background-position: center;
	font-size: 1.5em;
}

#begleiter TBODY TR TD:nth-child(12) INPUT {
	background-image: url('../img/lebenskraft.png');
}
#begleiter TBODY TR TD:nth-child(13) INPUT {
	background-image: url('../img/abwehr.png');
}
#begleiter TBODY TR TD:nth-child(14) INPUT {
	background-image: url('../img/initiative.png');
}
#begleiter TBODY TR TD:nth-child(15) INPUT {
	background-image: url('../img/laufen.png');
}
#begleiter TBODY TR TD:nth-child(16) INPUT {
	background-image: url('../img/schlagen.png');
}
#begleiter TBODY TR TD:nth-child(17) INPUT {
	background-image: url('../img/schiessen.png');
}
#begleiter TBODY TR TD:nth-child(18) INPUT {
	background-image: url('../img/zaubern.png');
}
#begleiter TBODY TR TD:nth-child(19) INPUT {
	background-image: url('../img/zielzauber.png');
}

#begleiter TBODY TR TD INPUT {
	width: 65%;
    padding-left: 30%;
    background: none;
    border: 1px solid lightgrey;
    font-family: calibri;
	font-size: 16px;
}

#probs TABLE {
	width: 95%;
	font-size: 21px;
	margin-left: 2%;
}

#probs TABLE THEAD TD {
	color: lightgrey;
}

#probs TABLE .outline {
	text-align: center;	
}

.button {
	margin: 0 0.2em 0 0.2em;
	padding: 5px;
	border: 1px solid black;
	background-color: lightgrey;
	text-align: center;
	cursor: pointer;
	font-size: 1em;
	font-family: Calibri;
}

#m_print {
	display: none;
}

#gold .minus, #gold .plus {
	font-size: 0.5em;
}

#gold TABLE.t_calc input {
	font-size: 1em;
}

DIV.metawerte {
	display: none;
}

#werte .focus {
	color: red;
}

DIV#grundwerte {
	width: 100%;
	text-align: center;
}

DIV#attribute {
	width: 100%;
	text-align: center;
	margin-top: 1em;
}

DIV#attribute .inputtofind {
	width: 4em;
	height: 5em;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
}

DIV#attribute .inputtofind  INPUT {
	width: 50px;
	height: 40px;
	text-align: center;
	border: 0;
	margin: 0;
	font-size: 30px;
	font-family: woodstamp;
	background: transparent;
	margin-bottom: 6px;
}

DIV#grundwerte .hauptwerte, DIV#grundwerte .attributswerte {
	display: inline-block;
}

DIV#grundwerte .hauptwerte>DIV {
	float: left;
	width: 33%;
	font-size: 2em;
	vertical-align: middle;
	text-align: center;
}

DIV#grundwerte .attributswerte>DIV {
	float: left;
	width: 33%;
	font-size: 2em;
	vertical-align: middle;
	text-align: center;
	color: darkgrey;
}

DIV#grundwerte  INPUT {
	width: 65%;
	height: 1em;
	text-align: center;
	border: 0;
	margin: 0;
	font-size: 1em;
	font-family: woodstamp;
	border: 4px solid black;
	float: unset;
	background: transparent;
}

DIV#grundwerte .attributswerte {
	width: 100%;
}

DIV#grundwerte .attributswerte INPUT {
	width: 65%;
	height: 1em;
	text-align: center;
	border: 0;
	margin: 0;
	font-size: 1em;
	font-family: woodstamp;
	border: 1px solid black;
	float: unset;
	background: transparent;
}

DIV#attribute .inputtofind  SPAN {
	display: inline-block;
	font-size: 8px;
	font-family: Georgia;
}

DIV#attribute>DIV {
	background-size: 3em;
	background-repeat: no-repeat;
	background-position: 0.5em 0;
}

DIV#attribute #ds_i_lebenskraft {
	background-image: url(../img/lebenskraft.png);
	position: relative;
	top: -1em;
}

DIV#attribute #ds_i_lebenskraft INPUT, DIV#attribute #ds_i_mana INPUT {
	display: none;
}

DIV#attribute #ds_i_lebenskraft SELECT, DIV#attribute #ds_i_mana SELECT
	{
	width: 100%;
	text-align: center;
	text-align-last: center;
	border: 0;
	margin: 0;
	font-size: 2em;
	font-family: woodstamp;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	padding-right: 0.1em;
}

.wrapper {
	float: right;
	position: relative;
	top: 3em;
	font-family: woodstamp !important;
	font-size: 1em !important;
}

DIV#attribute #ds_i_lebenskraft SELECT {
	color: red;
	position: relative;
	top: -1em;
}

DIV#attribute #ds_i_mana SELECT {
	color: blue;
	position: relative;
	top: -1em;
}

DIV#attribute #ds_i_abwehr {
	background-image: url(../img/abwehr.png);
}

DIV#attribute #ds_i_initiative {
	background-image: url(../img/initiative.png);
}

DIV#attribute #ds_i_laufen {
	background-image: url(../img/laufen.png);
}

DIV#attribute #ds_i_schlagen {
	background-image: url(../img/schlagen.png);
}

DIV#attribute #ds_i_schiessen {
	background-image: url(../img/schiessen.png);
}

DIV#attribute #ds_i_zaubern {
	background-image: url(../img/zaubern.png);
}

DIV#attribute #ds_i_zielzauber {
	background-image: url(../img/zielzauber.png);
}

DIV#attribute #ds_i_mana {
	background-image: url(../img/mana.png);
	position: relative;
	top: -1em;
}
