
@font-face {
	font-family: "woodstamp";
	src: url(./font/Woodstamp.otf) format("truetype");
}

body {
	font-family: woodstamp;
	font-size: 16px;
	padding: 0;
	margin: 0;
	background: white;
}


/* Burger Menu --> Start */
#menuToggle
{
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle > span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span.burger:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span.burger:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span.burger
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span.burger:nth-last-child(4)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span.burger:nth-last-child(3)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu DIV
{
  padding: 5px 35px;
  font-size: 20px;
  cursor:pointer;
}

#menu DIV:hover {
	color: grey;
}

#menuToggle input:checked ~ #menu
{
  transform: none;
}

#menu > DIV {
	background-size: 30px 30px;
	background-repeat: no-repeat;
	overflow: hidden;
}

#menuToggle DIV.m_charname {
	position: absolute;
	font-size: 25px;
	display: inline-block;
	white-space: nowrap;
	top: 0px;
	width: 100%;
	text-align: right;
	left: -15px;
	background: none;
}

#menuToggle #menu span.m_charname {
	display: none;
}
/* <-- Burger Menu Ende*/

.hidden {
	display: none !important;
}

#overlay {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	vertical-align: top;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 90vh;
}

#overlay span.headline {
	width: 100%;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}

.inventory TABLE,.inventory THEAD,.inventory TBODY,.inventory TR,.inventory TD {
	display: inline;
}

INPUT.newrow, INPUT.nr_chars {
	width: 100%;
	border: 1px solid black;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
	background: lightgrey;
}

#waffen THEAD TR,
#defense THEAD TR,
#spells THEAD TR,
#talents THEAD TR {
	display: none;
}

#waffen TBODY TR,
#defense TBODY TR,
#spells TBODY TR,
#talents TBODY TR {
	display: block;
	border: 1px solid black;
	margin: 5px;
	margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

#waffen TBODY TR TD:nth-last-child(6),
#defense TBODY TR TD:nth-last-child(4),
#spells TBODY TR TD:nth-last-child(6),
#talents TBODY TR TD:nth-last-child(5),
#talents TBODY TR TD:nth-last-child(3) {
	display: block;
	position: relative;
}

#talents TBODY TR TD:nth-last-child(5) {
	width: 70%;
}
#talents TBODY TR TD:nth-last-child(3) {
	width: 26%;
	position: absolute;
	top: 5px;
	left: 68%;
}

#waffen TBODY TR TD:nth-last-child(6)::before,
#defense TBODY TR TD:nth-last-child(4)::before,
#spells TBODY TR TD:nth-last-child(6)::before,
#talents TBODY TR TD:nth-last-child(5)::before,
#talents TBODY TR TD:nth-last-child(3)::before {
	content: 'Name:';
	position: absolute;
	top: 4px;
	left: 5px;
	color: darkgrey;
}

#talents TBODY TR TD:nth-last-child(3)::before {
	content: 'Stufe:';
}

#waffen TBODY TR TD:nth-last-child(6) INPUT,
#defense TBODY TR TD:nth-last-child(4) INPUT,
#spells TBODY TR TD:nth-last-child(6) INPUT,
#talents TBODY TR TD:nth-last-child(5) INPUT,
#talents TBODY TR TD:nth-last-child(3) INPUT {
	width: 80%;
    padding-left: 15%;
    background: none;
    border: 1px solid lightgrey;
    font-family: calibri;
	font-size: 16px;
}

#talents TBODY TR TD:nth-last-child(3) INPUT {
	padding-left: 50%;
	width: 46%;
}

#waffen TBODY TR TD:nth-last-child(5),
#spells TBODY TR TD:nth-last-child(5) {
	display: inline-block;
	position: relative;
	width: 47%;
    border: 1px solid lightgray;
    margin-left: 1px;
}

#waffen TBODY TR TD:nth-last-child(5)::before,
#spells TBODY TR TD:nth-last-child(5)::before {
	content: 'Nah:';
	color: darkgrey;
	float: left;
	margin-right: 1em;
	margin-left: 2px;
	margin-top: 2px;
}

#waffen TBODY TR TD:nth-last-child(5) label,
#spells TBODY TR TD:nth-last-child(5) label {
	float: left;
}

#waffen TBODY TR TD:nth-last-child(5) label .checkmark,
#spells TBODY TR TD:nth-last-child(5) label .checkmark {
 	width: 100px;
}

#waffen TBODY TR TD:nth-last-child(5) label .checkmark::after,
#spells TBODY TR TD:nth-last-child(5) label .checkmark::after {
	left: 44px;
}

#waffen TBODY TR TD:nth-last-child(4),
#spells TBODY TR TD:nth-last-child(4) {
	display: inline-block;
	position: relative;
	width: 46%;
    border: 1px solid lightgray;
    margin-left: 1px;
}

#waffen TBODY TR TD:nth-last-child(4)::before,
#spells TBODY TR TD:nth-last-child(4)::before {
	content: 'Fern:';
	color: darkgrey;
	float: left;
	margin-right: 1em;
	margin-left: 2px;
	margin-top: 2px;
}

#waffen TBODY TR TD:nth-last-child(4) label,
#spells TBODY TR TD:nth-last-child(4) label  {
	float: left;
}

#waffen TBODY TR TD:nth-last-child(4) label .checkmark,
#spells TBODY TR TD:nth-last-child(4) label .checkmark {
 	width: 100px;
}

#waffen TBODY TR TD:nth-last-child(4) label .checkmark::after,
#spells TBODY TR TD:nth-last-child(4) label .checkmark::after {
	left: 44px;
}

#waffen TBODY TR TD:nth-last-child(3),
#defense TBODY TR TD:nth-last-child(3),
#spells TBODY TR TD:nth-last-child(3),
#talents TBODY TR TD:nth-last-child(4) {
	display: block;
	position: relative;
}
#waffen TBODY TR TD:nth-last-child(3)::before,
#defense TBODY TR TD:nth-last-child(3)::before,
#spells TBODY TR TD:nth-last-child(3)::before,
#talents TBODY TR TD:nth-last-child(4)::before {
	content: 'Effekt:';
	position: absolute;
	top: 4px;
	left: 5px;
	color: darkgrey;
}

#waffen TBODY TR TD:nth-last-child(3) INPUT,
#defense TBODY TR TD:nth-last-child(3) INPUT,
#spells TBODY TR TD:nth-last-child(3) INPUT,
#talents TBODY TR TD:nth-last-child(4) INPUT {
	width: 80%;
    padding-left: 15%;
    background: none;
    border: 1px solid lightgrey;
    font-family: calibri;
	font-size: 16px;
}

#waffen TBODY TR TD:nth-last-child(2),
#defense TBODY TR TD:nth-last-child(2),
#spells TBODY TR TD:nth-last-child(2),
#talents TBODY TR TD:nth-last-child(2) {
	display: inline-block;
	position: relative;
	width: 94%;
    border: 1px solid lightgray;
    margin-left: 1px;
}

#waffen TBODY TR TD:nth-last-child(2)::before,
#defense TBODY TR TD:nth-last-child(2)::before,
#spells TBODY TR TD:nth-last-child(2)::before,
#talents TBODY TR TD:nth-last-child(2)::before {
	content: 'Ausgerüsstet:';
	color: darkgrey;
	float: left;
	margin-right: 1em;
	margin-left: 2px;
	margin-top: 2px;
}

#waffen TBODY TR TD:nth-last-child(2) label,
#defense TBODY TR TD:nth-last-child(2) label,
#spells TBODY TR TD:nth-last-child(2) label,
#talents TBODY TR TD:nth-last-child(2) label {
	float: left;
	width: 65%;
}

#waffen TBODY TR TD:nth-last-child(2) label .checkmark,
#defense TBODY TR TD:nth-last-child(2) label .checkmark,
#spells TBODY TR TD:nth-last-child(2) label .checkmark,
#talents TBODY TR TD:nth-last-child(2) label .checkmark {
 	width: 100%;
}

#waffen TBODY TR TD:nth-last-child(2) label .checkmark::after,
#defense TBODY TR TD:nth-last-child(2) label .checkmark::after,
#spells TBODY TR TD:nth-last-child(2) label .checkmark::after,
#talents TBODY TR TD:nth-last-child(2) label .checkmark::after {
	left: 46%;
}

#waffen TBODY TR TD:nth-last-child(1),
#defense TBODY TR TD:nth-last-child(1),
#spells TBODY TR TD:nth-last-child(1),
#talents TBODY TR TD:nth-last-child(1) {
	display: block;
	position: absolute;
	border: 1px solid lightgray;
	top: 6px;
	right: 2px;
	width: 10px;
	text-align: center;
	height: 20px;
	color: red;
	cursor: pointer;
}

#probs TABLE {
	width: 95%;
	font-size: 21px;
	margin-left: 2%;
}

#probs TABLE THEAD TD {
	color: lightgrey;
}

#probs TABLE .outline {
	text-align: center;	
}
